<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OOPS!</title>
    <link href="/assert/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>Error:</h1>
      <p>{{.ErrMsg}}</p>
      <p><a href="/">Back to homepage</a></p>
    </div>
    <script src="/assert/js/jquery.min.js"></script>
    <script src="/assert/js/bootstrap.min.js"></script>
  </body>
</html>