<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LiveTV!</title>
    <link href="/assert/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="/assert/css/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>LiveTV! <small>使用Youtube直播作爲IPTV源</small></h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            直播頻道管理員
          </h3>
        </div>
        <div class="panel-body">
          <form role="form" action="/api/newchannel" method="POST">
            <div class="form-group">
              <label for="inputChannelName">頻道名稱</label>
              <input type="text" class="form-control" id="inputChannelName" name="name">
            </div>
            <div class="form-group">
              <label for="inputChannelLiveURL">直播URL</label>
              <input type="text" class="form-control" id="inputChannelLiveURL" name="url">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="proxy">代理直播數據流
              </label>
            </div>
            <button type="submit" class="btn btn-default">添加頻道</button>
          </form>
        </div>
        <table class="table table-striped table-condensed">
          <tr>
              <th>#</th>
              <th>頻道</th>
              <th>直播URL</th>
              <th>M3U8檔案URL</th>
              <th>代理直播數據流</th>
              <th></th>
          </tr>
          {{range .Channels}}
          <tr>
              <td>{{.ID}}</td>
              <td>{{.Name}}</td>
              <td>{{.URL}}</td>
              <td>{{.M3U8}}</td>
              <td>{{ if .Proxy }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{ end }}</td>
              <td><a href="/api/delchannel?id={{.ID}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            設定
          </h3>
        </div>
          <div class="panel-body">
            <form role="form" action="/api/updconfig" method="POST">
              <div class="form-group">
                <label for="inputCommand">Youtube-dl 命令</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputCommand" name="cmd" value="{{.Configs.Cmd}}" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="allow-edit-button-cmd">啓用編輯</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputArgs">Youtube-dl 引數</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputArgs" name="args" value="{{.Configs.Args}}" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="allow-edit-button-args">啓用編輯</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputBaseURL">URL地址</label>
                <div class="input-group">
                  <input type="url" class="form-control" id="inputBaseURL" name="baseurl" value="{{.Configs.BaseURL}}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="auto-fill-button">自動填充</button>
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-default">儲存設定</button>
            </form>
          </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            修改登入密碼
          </h3>
        </div>
          <div class="panel-body">
            <form role="form" action="/api/changepwd" method="POST">
              <div class="form-group">
                <label for="inputPassword">新密碼</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
              <div class="form-group">
                <label for="inputPassword2">重複輸入密碼</label>
                <input type="password" class="form-control" id="inputPassword2" name="password2">
              </div>
              <button type="submit" class="btn btn-default">修改</button>
            </form>
          </div>
      </div>
      <footer class="text-center">
        <a href="https://github.com/zjyl1994/livetv">LiveTV!</a> by <a href="https://github.com/zjyl1994">zjyl1994</a>.
        Made with <span style="color: #e25555;">&hearts;</span> in Kwangtung.
        <a href="/log">View Log.</a>
        <a href="/api/logout">Logout.</a>
      </footer>
    </div>
    <script src="/assert/js/jquery.min.js"></script>
    <script src="/assert/js/bootstrap.min.js"></script>
    <script src="/assert/js/bootbox.all.min.js"></script>
    <script>
      $("#auto-fill-button").click(function(){
          $("#inputBaseURL").val(window.location.protocol + "//" + window.location.host)
      });
      $("#allow-edit-button-cmd,#allow-edit-button-args").click(function(){
        bootbox.confirm({
          message: "警告:如果你不知道自己在做什麽請不要編輯這兩個字段.",
          buttons: {
              confirm: {
                  label: '堅持編輯',
                  className: 'btn-danger'
              },
              cancel: {
                  label: '放棄編輯',
                  className: 'btn-secondary'
              }
          },
          callback: function (result) {
              if(result){
                $('#inputCommand,#inputArgs').prop('disabled', false);
              }
          }
        });
      });
    </script>
  </body>
</html>